
<div>
  <h1>A <%= magicCalculation(10) %></h1>
  <p><strong><%= state.counter %></strong></p>
  <input type="text" placeholder="Your name" />
  <button class="show-b">Show B</button>

  <a href="...">A link</a>
</div>
